<!DOCTYPE html>
<html>
<head>
  <title>Doctoraso</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>Menu
<ul>
  <li><%= link_to "Find",   index_path %></li>
  <li><%= link_to "about",   about_path %></li>
  <li><%= link_to "faq",   faq_path %></li>
  <li><%= link_to "benefits",   benefits_path %></li>
  <li><%= link_to "tos",   tos_path %></li>
  <li><%= link_to "privacy",   privacy_path %></li>
</ul>
</div>


<%= yield %>

</body>
</html>
